{% extends 'header.html' %} 
{% block content %} 
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

  <title>Timups</title>


  

</head>

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Change Password
              </h2>
            </div>
            {% if msg %}
              <b style="color: #f0d43a;">{{msg}}</b>
            {% endif %}
            <form action="{% url 'change_password' %}" method="post">
              {% csrf_token %}
              
                         
              <div>
                <input type="password" placeholder="Old Password" name="old_password"/>
              </div>
              <div>
                <input type="password" placeholder="New Password" name="new_password"/>
              </div>
              <div>
                <input type="password" placeholder="Confirm New Password" name="cnew_password"/>
              </div> 
              <div class="d-flex ">
                <button>
                  Change Password
                </button>
              </div>
              
              
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <!-- end contact section -->
  

</body>

</html>

{% endblock %} 